/* Resetando margens e padding padrão */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais do corpo */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

/* Header - Menu de Navegação */
header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul .login-link {
  margin-left: 600px; /* Empurra o link "Login" para a direita */
}

