<!-- src/app/app.component.html -->
<header>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/produtos">Produtos</a></li>
      <li><a routerLink="/promocao">Promoçao</a></li>
      <li><a routerLink="/contato">Contato</a></li>
      <li><a routerLink="/carrinho">Carrinho (0)</a></li>
      <li class="login-link"><a routerLink="/login">Login</a></li>
    </ul>
  </nav>
</header>

<!-- Aqui o conteúdo das rotas será injetado -->
<router-outlet></router-outlet>
